@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
}

.navbar-nav {
    padding: 20px 20px 20px !important;
}

.navbar-nav .container {
    justify-content: center !important;
}

.navbar-nav .container a{
    text-decoration: none;
    color: #040c2c;
    font-weight: 800;
    font-size: 24px;
}

.section_title {
    padding: 25px;
}

.article_area_two {
    padding-bottom: 60px;
}

.article-parent-container {
    display: flex;
    min-width: 100%;
    place-content: stretch center;
    align-items: stretch;
    margin: -10px;
    flex-flow: row wrap;
}

.article-cell {
    padding: 10px;
}

.article-child {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex: 0 0 25%;
    flex-direction: column;
    max-width: 25%;
}

.article-child-wrapper {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    /* padding-top: 32px; */
    padding-bottom: 10px;
    color: #040c2c;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(29 24 31 / 15%) 0px 1px 3px;
    text-align: inherit;
}

.article-child-container {
    box-sizing: border-box;
    display: flex;
    min-width: 100%;
    place-content: flex-start center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.article-child-container a{
    text-decoration: none;
    color: #040c2c;
}

.article-logo-container {
    display: inline-block;
    text-align: center;
    height: 10.5rem;
    min-width: 100%;
    max-width: 100%;
}

.slider-logo-container {
    display: inline-block;
    text-align: center;
    height: 10.5rem;
    max-width: 7.25rem;

}

.article-name-container {
    display: flex;
    width: 100%;
    padding: 0px 15px;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-name-container div {
    font-weight: 700;
    cursor: pointer;
}

.article-name-container-new {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
}

.article-logo-container img {
    height: 10.5rem;
    min-width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
}

.slider-logo-container img {
    height: 7.25rem;
    max-width: 7.25rem;
}

.article-name-container h6 {
    text-align: center;
    font-weight: 700;
}

.article-details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 15px 0px 15px;
    font-size: 11px;
}

.article-details-wrapper{
    padding: 25px 0px 45px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-article-title{
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;
}

.one-article-image-container{
    width: 100%;
    height: auto;
}

.one-article-image-container img {
    width: 100%;
    height: auto;
}

.one-article-date-container{
    padding: 35px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}